* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.emoji {
  font-size: 15rem;
  cursor: pointer;
  user-select: none;
}

.open {
  display: none;
}

.closed {
  display: none;
}

.active {
  display: block;
}
